# Importing pandas

In [1]:
import pandas as pd
pd.__version__

'0.22.0'

# Series and DataFrames and importing data from csv and indexing loc and iloc

In [5]:
pd.Series(['aha','fsa','ertt'])

0     aha
1     fsa
2    ertt
dtype: object

In [6]:
a=pd.Series(['aha','fsa','ertt'])
a[2]

'ertt'

In [8]:
a=pd.Series(['aha','fsa','ertt'],index=['a','b','c'])
a

a     aha
b     fsa
c    ertt
dtype: object

In [9]:
a=pd.Series(['aha','fsa','ertt'],index=['a','b','c'])
a['a']

'aha'

In [10]:
a.dtype

dtype('O')

In [11]:
a=pd.Series([1,2,3],index=['a','b','c'])
a.dtype

dtype('int64')

In [12]:
a=pd.Series([1,2,3],index=['a','b','c'],dtype='int32')
a.dtype

dtype('int32')

In [15]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['A','B','C']) #proti column k alada series kore
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [18]:
df.set_index('A')

   B  C
A
1  2  3
4  5  6
7  8  9

In [19]:
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [25]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['A','B','C']) #proti column k alada series kore
df.set_index('A',inplace= True)
df

   B  C
A
1  2  3
4  5  6
7  8  9

In [26]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['A','B','C']) #proti column k alada series kore
df.set_index('A',inplace= True)
df.reset_index(inplace=True)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [31]:
oo = pd.read_csv('olympics.csv')
#oo

In [30]:
oo = pd.read_csv('olympics.csv',skiprows=4) #shift+tab dile suggestion ase
oo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
10,Athens,1896,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
11,Athens,1896,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
12,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
14,Athens,1896,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
16,Athens,1896,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
17,Athens,1896,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
20,Athens,1896,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
22,Athens,1896,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
23,Athens,1896,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
26,Athens,1896,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
28,Athens,1896,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29186,Beijing,2008,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29188,Beijing,2008,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29189,Beijing,2008,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29190,Beijing,2008,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29192,Beijing,2008,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29193,Beijing,2008,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29194,Beijing,2008,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29196,Beijing,2008,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29197,Beijing,2008,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29198,Beijing,2008,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29200,Beijing,2008,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29201,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29202,Beijing,2008,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29204,Beijing,2008,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29205,Beijing,2008,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29208,Beijing,2008,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [32]:
oo = pd.read_csv('olympics.csv',skiprows=4,index_col='Edition')
oo

,City,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
Edition,,,,,,,,,
1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
1896,Athens,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
1896,Athens,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
1896,Athens,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
1896,Athens,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
1896,Athens,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...
2008,Beijing,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
2008,Beijing,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [33]:
oo.head() #first 5 ta dekhabe

,City,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
Edition,,,,,,,,,
1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [34]:
oo.head(10) #first 10 ta dekhabe

,City,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
Edition,,,,,,,,,
1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold

In [35]:
oo.head(2000).to_csv('new.csv') #first 2000 ta die new csv hobe

In [37]:
oo.head(2000).to_csv('new1.csv',index=False) #first 2000 ta die new csv hobe kono index thakbena

In [40]:
oo = pd.read_csv('olympics.csv',skiprows=4) #index uniq hote hobe json er jonno
oo.head(200).to_json('new.json')

In [42]:
oo.loc[7] #7no row er akta series dibe

City                      Athens
Edition                     1896
Sport                   Aquatics
Discipline              Swimming
Athlete         ANDREOU, Joannis
NOC                          GRE
Gender                       Men
Event            1200m freestyle
Event_gender                   M
Medal                     Silver
Name: 7, dtype: object

In [43]:
oo.loc[1:4] # 1 theke 4 er data frame dibe

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [52]:
oo.iloc[1:4]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold

In [51]:
oo.iloc[1:4,2:5]

      Sport Discipline             Athlete
1  Aquatics   Swimming    HERSCHMANN, Otto
2  Aquatics   Swimming   DRIVAS, Dimitrios
3  Aquatics   Swimming  MALOKINIS, Ioannis

In [53]:
oo.iloc[1:4,0:5]

     City  Edition     Sport Discipline             Athlete
1  Athens     1896  Aquatics   Swimming    HERSCHMANN, Otto
2  Athens     1896  Aquatics   Swimming   DRIVAS, Dimitrios
3  Athens     1896  Aquatics   Swimming  MALOKINIS, Ioannis

In [54]:
oo.iloc[1:5,4:6]

              Athlete  NOC
1    HERSCHMANN, Otto  AUT
2   DRIVAS, Dimitrios  GRE
3  MALOKINIS, Ioannis  GRE
4  CHASAPIS, Spiridon  GRE

In [56]:
oo1 = oo.set_index('Edition')
#oo1
oo1.loc[2008] #2008 saler sob kisu nie asse

,City,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
Edition,,,,,,,,,
2008,Beijing,Aquatics,Diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,Bronze
2008,Beijing,Aquatics,Diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,Gold
2008,Beijing,Aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
2008,Beijing,Aquatics,Diving,"WANG, Xin",CHN,Women,10m platform,W,Bronze
2008,Beijing,Aquatics,Diving,"CHEN, Ruolin",CHN,Women,10m platform,W,Gold
2008,Beijing,Aquatics,Diving,"HEYMANS, Emilie",CAN,Women,10m platform,W,Silver
2008,Beijing,Aquatics,Diving,"QIN, Kai",CHN,Men,3m springboard,M,Bronze
2008,Beijing,Aquatics,Diving,"HE, Chong",CHN,Men,3m springboard,M,Gold
2008,Beijing,Aquatics,Diving,"DESPATIE, Alexandre",CAN,Men,3m springboard,M,Silver
2008,Beijing,Aquatics,Diving,"WU, Minxia",CHN,Women,3m springboard,W,Bronze
2008,Beijing,Aquatics,Diving,"GUO, Jingjing",CHN,Women,3m springboard,W,Gold
2008,Beijing,Aquatics,Diving,"PAKHALINA, Julia",RUS,Women,3m springboard,W,Silver
2008,Beijing,Aquatics,Diving,"DOBROSKOK, Dmitriy",RUS,Men,synchronized diving 10m platform,M,Bronze
2008,Beijing,Aquatics,Diving,"GALPERIN, Gleb",RUS,Men,synchronized diving 10m platform,M,Bronze
2008,Beijing,Aquatics,Diving,"HUO, Liang",CHN,Men,synchronized diving 10m platform,M,Gold
2008,Beijing,Aquatics,Diving,"LIN, Yue",CHN,Men,synchronized diving 10m platform,M,Gold
2008,Beijing,Aquatics,Diving,"HAUSDING, Patrick",GER,Men,synchronized diving 10m platform,M,Silver
2008,Beijing,Aquatics,Diving,"KLEIN, Sascha",GER,Men,synchronized diving 10m platform,M,Silver
2008,Beijing,Aquatics,Diving,"ESPINOSA, Paola",MEX,Women,synchronized diving 10m platform,W,Bronze
2008,Beijing,Aquatics,Diving,"ORTIZ, Tatiana",MEX,Women,synchronized diving 10m platform,W,Bronze
2008,Beijing,Aquatics,Diving,"CHEN, Ruolin",CHN,Women,synchronized diving 10m platform,W,Gold
2008,Beijing,Aquatics,Diving,"WANG, Xin",CHN,Women,synchronized diving 10m platform,W,Gold
2008,Beijing,Aquatics,Diving,"COLE, Briony",AUS,Women,synchronized diving 10m platform,W,Silver
2008,Beijing,Aquatics,Diving,"WU, Melissa",AUS,Women,synchronized diving 10m platform,W,Silver
2008,Beijing,Aquatics,Diving,"KVASHA, Illya",UKR,Men,synchronized diving 3m springboard,M,Bronze
2008,Beijing,Aquatics,Diving,"PRYGOROV, Oleksiy",UKR,Men,synchronized diving 3m springboard,M,Bronze
2008,Beijing,Aquatics,Diving,"QIN, Kai",CHN,Men,synchronized diving 3m springboard,M,Gold
2008,Beijing,Aquatics,Diving,"WANG, Feng",CHN,Men,synchronized diving 3m springboard,M,Gold
2008,Beijing,Aquatics,Diving,"KUNAKOV, Yuriy",RUS,Men,synchronized diving 3m springboard,M,Silver
2008,Beijing,Aquatics,Diving,"SAUTIN, Dmitry",RUS,Men,synchronized diving 3m springboard,M,Silver
...,...,...,...,...,...,...,...,...,...
2008,Beijing,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
2008,Beijing,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [57]:
oo1.iloc[2008:2010] #2008 ar 2009 no row nie asse ---> iloc

,City,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
Edition,,,,,,,,,
1912,Stockholm,Aquatics,Water polo,"ANDERSSON, Robert T.",SWE,Men,water polo,M,Silver
1912,Stockholm,Aquatics,Water polo,"ANDERSSON, Vilhelm",SWE,Men,water polo,M,Silver

In [59]:
oo1.loc[2004:2008]  #2004 theke 2008 porjonto sob nie asbe ---> loc

,City,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
Edition,,,,,,,,,
2004,Athens,Aquatics,Diving,"TIAN, Liang",CHN,Men,10m platform,M,Bronze
2004,Athens,Aquatics,Diving,"HU, Jia",CHN,Men,10m platform,M,Gold
2004,Athens,Aquatics,Diving,"HELM, Mathew",AUS,Men,10m platform,M,Silver
2004,Athens,Aquatics,Diving,"TOURKY, Loudy",AUS,Women,10m platform,W,Bronze
2004,Athens,Aquatics,Diving,"NEWBERY, Chantelle",AUS,Women,10m platform,W,Gold
2004,Athens,Aquatics,Diving,"LAO, Lishi",CHN,Women,10m platform,W,Silver
2004,Athens,Aquatics,Diving,"SAUTIN, Dmitry",RUS,Men,3m springboard,M,Bronze
2004,Athens,Aquatics,Diving,"PENG, Bo",CHN,Men,3m springboard,M,Gold
2004,Athens,Aquatics,Diving,"DESPATIE, Alexandre",CAN,Men,3m springboard,M,Silver
2004,Athens,Aquatics,Diving,"PAKHALINA, Ioulia",RUS,Women,3m springboard,W,Bronze
2004,Athens,Aquatics,Diving,"GUO, Jingjing",CHN,Women,3m springboard,W,Gold
2004,Athens,Aquatics,Diving,"WU, Minxia",CHN,Women,3m springboard,W,Silver
2004,Athens,Aquatics,Diving,"HELM, Mathew",AUS,Men,synchronized diving 10m platform,M,Bronze
2004,Athens,Aquatics,Diving,"NEWBERY, Robert",AUS,Men,synchronized diving 10m platform,M,Bronze
2004,Athens,Aquatics,Diving,"TIAN, Liang",CHN,Men,synchronized diving 10m platform,M,Gold
2004,Athens,Aquatics,Diving,"YANG, Jinghui",CHN,Men,synchronized diving 10m platform,M,Gold
2004,Athens,Aquatics,Diving,"TAYLOR, Leon",GBR,Men,synchronized diving 10m platform,M,Silver
2004,Athens,Aquatics,Diving,"WATERFIELD, Peter",GBR,Men,synchronized diving 10m platform,M,Silver
2004,Athens,Aquatics,Diving,"HARTLEY, Blythe",CAN,Women,synchronized diving 10m platform,W,Bronze
2004,Athens,Aquatics,Diving,"HEYMANS, Emilie",CAN,Women,synchronized diving 10m platform,W,Bronze
2004,Athens,Aquatics,Diving,"LAO, Lishi",CHN,Women,synchronized diving 10m platform,W,Gold
2004,Athens,Aquatics,Diving,"LI, Ting",CHN,Women,synchronized diving 10m platform,W,Gold
2004,Athens,Aquatics,Diving,"GONCHAROVA, Natalia",RUS,Women,synchronized diving 10m platform,W,Silver
2004,Athens,Aquatics,Diving,"KOLTUNOVA, Yulia",RUS,Women,synchronized diving 10m platform,W,Silver
2004,Athens,Aquatics,Diving,"BARNETT, Steven",AUS,Men,synchronized diving 3m springboard,M,Bronze
2004,Athens,Aquatics,Diving,"NEWBERY, Robert",AUS,Men,synchronized diving 3m springboard,M,Bronze
2004,Athens,Aquatics,Diving,"BIMIS, Thomas",GRE,Men,synchronized diving 3m springboard,M,Gold
2004,Athens,Aquatics,Diving,"SIRANIDIS, Nikolaos",GRE,Men,synchronized diving 3m springboard,M,Gold
2004,Athens,Aquatics,Diving,"SCHELLENBERG, Tobias",GER,Men,synchronized diving 3m springboard,M,Silver
2004,Athens,Aquatics,Diving,"WELS, Andreas",GER,Men,synchronized diving 3m springboard,M,Silver
...,...,...,...,...,...,...,...,...,...
2008,Beijing,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
2008,Beijing,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [63]:
#normal ta abar nie asio
nn = pd.read_csv('olympics.csv',skiprows=4) #shift+tab dile suggestion ase
nn.head(5)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [65]:
#nn.City
nn['City'] #ei duta aki sob City nie asbe

0         Athens
1         Athens
2         Athens
3         Athens
4         Athens
5         Athens
6         Athens
7         Athens
8         Athens
9         Athens
10        Athens
11        Athens
12        Athens
13        Athens
14        Athens
15        Athens
16        Athens
17        Athens
18        Athens
19        Athens
20        Athens
21        Athens
22        Athens
23        Athens
24        Athens
25        Athens
26        Athens
27        Athens
28        Athens
29        Athens
          ...
29186    Beijing
29187    Beijing
29188    Beijing
29189    Beijing
29190    Beijing
29191    Beijing
29192    Beijing
29193    Beijing
29194    Beijing
29195    Beijing
29196    Beijing
29197    Beijing
29198    Beijing
29199    Beijing
29200    Beijing
29201    Beijing
29202    Beijing
29203    Beijing
29204    Beijing
29205    Beijing
29206    Beijing
29207    Beijing
29208    Beijing
29209    Beijing
29210    Beijing
29211    Beijing
29212    Beijing
29213    Beijing
29214    Beijing
29215    Beijing
Name: City, Length: 29216, dtype: object

In [66]:
nn[['City','NOC','Athlete']]  #list chole asbe

          City  NOC                      Athlete
0       Athens  HUN                HAJOS, Alfred
1       Athens  AUT             HERSCHMANN, Otto
2       Athens  GRE            DRIVAS, Dimitrios
3       Athens  GRE           MALOKINIS, Ioannis
4       Athens  GRE           CHASAPIS, Spiridon
5       Athens  GRE        CHOROPHAS, Efstathios
6       Athens  HUN                HAJOS, Alfred
7       Athens  GRE             ANDREOU, Joannis
8       Athens  GRE        CHOROPHAS, Efstathios
9       Athens  AUT                NEUMANN, Paul
10      Athens  GRE            PEPANOS, Antonios
11      Athens  USA                LANE, Francis
12      Athens  HUN             SZOKOLYI, Alajos
13      Athens  USA                BURKE, Thomas
14      Athens  GER               HOFMANN, Fritz
15      Athens  USA               CURTIS, Thomas
16      Athens  GBR           GOULDING, Grantley
17      Athens  FRA            LERMUSIAUX, Albin
18      Athens  AUS                 FLACK, Edwin
19      Athens  USA                BLAKE, Arthur
20      Athens  GBR              GMELIN, Charles
21      Athens  USA                BURKE, Thomas
22      Athens  USA             JAMISON, Herbert
23      Athens  GRE           GOLEMIS, Dimitrios
24      Athens  AUS                 FLACK, Edwin
25      Athens  HUN                 DANI, Nandor
26      Athens  GRE             VERSIS, Sotirios
27      Athens  USA              GARRETT, Robert
28      Athens  GRE  PARASKEVOPOULOS, Panagiotis
29      Athens  USA                CLARK, Ellery
...        ...  ...                          ...
29186  Beijing  KAZ             MUTALIMOV, Marid
29187  Beijing  UZB              TAYMAZOV, Artur
29188  Beijing  RUS          AKHMEDOV, Bakhtiyar
29189  Beijing  ARM                AMOYAN, Roman
29190  Beijing  KOR               PARK, Eun-Chul
29191  Beijing  RUS               MANKIEV, Nazyr
29192  Beijing  AZE            BAYRAMOV, Rovshan
29193  Beijing  KAZ        TENGIZBAYEV, Nurbakyt
29194  Beijing  KGZ           TIUMENBAEV, Ruslan
29195  Beijing  RUS           ALBIEV, Islam-Beka
29196  Beijing  AZE             RAHIMOV, Vitaliy
29197  Beijing  BLR           SIAMIONAU, Mikhail
29198  Beijing  UKR             VARDANYAN, Armen
29199  Beijing  FRA               GUENOT, Steeve
29200  Beijing  KGZ           BEGALIEV, Kanatbek
29201  Beijing  FRA           GUENOT, Christophe
29202  Beijing  BUL              YANAKIEV, Yavor
29203  Beijing  GEO          KVIRKELIA, Manuchar
29204  Beijing  CHN             CHANG, Yongxiang
29205  Beijing  TUR                AVLUCA, Nazmi
29206  Beijing  ITA             MINGUZZI, Andrea
29207  Beijing  HUN                FODOR, Zoltan
29208  Beijing  KAZ              MAMBETOV, Asset
29209  Beijing  USA                WHEELER, Adam
29210  Beijing  RUS           KHUSHTOV, Aslanbek
29211  Beijing  GER               ENGLICH, Mirko
29212  Beijing  LTU         MIZGAITIS, Mindaugas
29213  Beijing  ARM              PATRIKEEV, Yuri
29214  Beijing  CUB                LOPEZ, Mijain
29215  Beijing  RUS               BAROEV, Khasan

[29216 rows x 3 columns]

In [67]:
oo.Edition.dtype

dtype('int64')

### TASK : List only the NOC column using both the ['..'] and dot notation. What type is this object? and see the type

In [69]:
nn['NOC']

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [71]:
nn.NOC

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [81]:
oo.NOC.dtype
oo['NOC'].dtype #duta ak kjaj korbe

dtype('O')

## Overview and validation of data
### Shape

In [73]:
oo.shape #(row,column)

(29216, 10)

In [75]:
print("Total row= ",oo.shape[0])
print("Total column= ",oo.shape[1])

Total row=  29216
Total columnb=  10

### head() and tail()

In [76]:
oo.tail() #laster 5 ta asbe

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [77]:
oo.tail(10) #laster 10 ta asbe... head eo aki vabe

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29208,Beijing,2008,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [82]:
oo.NOC.tail(5) #laster 5 ta NOC

29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, dtype: object

### info()

In [83]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
City            29216 non-null object
Edition         29216 non-null int64
Sport           29216 non-null object
Discipline      29216 non-null object
Athlete         29216 non-null object
NOC             29216 non-null object
Gender          29216 non-null object
Event           29216 non-null object
Event_gender    29216 non-null object
Medal           29216 non-null object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

In [84]:
oo.describe()

            Edition
count  29216.000000
mean    1967.713171
std       32.406293
min     1896.000000
25%     1948.000000
50%     1976.000000
75%     1996.000000
max     2008.000000

### value_counts() Edition, Gender

In [85]:
nn.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [86]:
nn['Gender'].value_counts() #ekta series dibe count er

Men      21721
Women     7495
Name: Gender, dtype: int64

In [88]:
nn['Event_gender'].value_counts()

M    20067
W     7278
X     1871
Name: Event_gender, dtype: int64

In [89]:
nn['Edition'].value_counts()

2008    2042
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1912     885
1956     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: Edition, dtype: int64

In [90]:
nn['Edition'].value_counts(ascending=True) #vlue wise ascending hobe

1896     151
1904     470
1900     512
1932     615
1928     710
1908     804
1948     814
1936     875
1960     882
1924     884
1956     885
1912     885
1952     889
1964    1010
1968    1031
1972    1185
1920    1298
1976    1305
1980    1387
1984    1459
1988    1546
1992    1705
1996    1859
2004    1998
2000    2015
2008    2042
Name: Edition, dtype: int64

In [91]:
nn['Discipline'].value_counts(ascending=True) #vlue wise ascending hobe

Roque                 3
Jeu de Paume          3
Basque Pelota         4
Water Motorspor       5
BMX                   6
Croquet               8
Rackets              10
Vaulting             14
Triathlon            18
Trampoline           18
Cricket              24
Mountain Bike        24
Ice Hockey           27
Figure skating       27
Golf                 30
Beach volley.        48
Lacrosse             59
Polo                 66
Taekwondo            80
Canoe / Kayak S      90
Rhythmic G.          93
Tug of War           94
Table Tennis        120
Badminton           120
Synchronized S.     153
Modern Pentath.     174
Softball            180
Rugby               192
Dressage            255
Tennis              272
Cycling Road        303
Archery             305
Jumping             312
Eventing            313
Baseball            335
Diving              356
Judo                435
Weightlifting       548
Wrestling Gre-R     549
Wrestling Free.     591
Cycling Track       692
Boxing              842
Volleyball          862
Water polo          880
Handball            886
Canoe / Kayak F     912
Basketball          940
Sailing            1061
Shooting           1105
Hockey             1325
Football           1387
Fencing            1547
Artistic G.        2103
Swimming           2439
Rowing             2523
Athletics          3448
Name: Discipline, dtype: int64

### sort_values() Athlete, Edition

In [92]:
nn['Athlete'].sort_values() #sorted series value wise

651                    AABYE, Edgar
2849          AALTONEN, Arvo Ossian
2852          AALTONEN, Arvo Ossian
7716       AALTONEN, Paavo Johannes
7730       AALTONEN, Paavo Johannes
7773       AALTONEN, Paavo Johannes
7709       AALTONEN, Paavo Johannes
8563       AALTONEN, Paavo Johannes
28460              AAMODT, Ragnhild
3436               AANING, Alf Lied
19062         AARDENBURG, Willemien
22769             AARDEWIJN, Pepijn
22267          AARONES, Ann Kristin
3437                  AAS, Karl Jan
2601           AAS, Thomas Valentin
28134              ABAJO, Jose Luis
27691              ABAKUMOVA, Maria
27983           ABALMASAU, Aliaksei
28417                    ABALO, Luc
24202         ABANDA ETONG, Patrice
21538            ABARCA, Jose Maria
27125                 ABAS, Stephen
16390     ABASCAL GARCIA, Alejandro
16806    ABASCAL GOMEZ, Jose Manuel
26049             ABASSOVA, Tamilla
28418                   ABATI, Joel
20477                   ABAY, Peter
6380             ABAY-NEMES, Oszkar
7003                  ABBA, Silvano
24757           ABBAGNALE, Agostino
                    ...
10948                ZYBINA, Galina
9128                 ZYBINA, Galina
8235                 ZYBINA, Galina
15817                ZYCH, Boguslaw
23611                ZYKINA, Olesya
25639                ZYKINA, Olesya
10596              ZÃ„HRINGER, Klaus
19282               ZÃœHLKE, Steffen
18534                ZÃœLOW, Andreas
1138                 ZÃœRNER, Albert
1939                 ZÃœRNER, Albert
15711           Ã–RSTED, Hans-Henrik
2691                Ã–RTEGREN, Ruben
3745                    Ã–RVIG, Erik
3746                    Ã–RVIG, Olav
3747                    Ã–RVIG, Thor
3868                Ã–STENSEN, Ã–sten
4009                Ã–STENSEN, Ã–sten
3870                Ã–STENSEN, Ã–sten
2730                Ã–STENSEN, Ã–sten
3942                Ã–STENSEN, Ã–sten
3737              Ã–STERVOLD, Henrik
3738           Ã–STERVOLD, Jan Olsen
3739      Ã–STERVOLD, Kristian Olsen
3740           Ã–STERVOLD, Ole Olsen
603                      Ã–STMO, Ole
608                      Ã–STMO, Ole
621                      Ã–STMO, Ole
596                      Ã–STMO, Ole
8051              Ã–STRAND, Per-Olof
Name: Athlete, Length: 29216, dtype: object

In [93]:
nn.sort_values('Edition') #edition wise sort hobe

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
97,Athens,1896,Gymnastics,Artistic G.,"LOUNDRAS, Dimitrios",GRE,Men,"team, parallel bars",M,Bronze
98,Athens,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,"team, parallel bars",M,Bronze
99,Athens,1896,Gymnastics,Artistic G.,"BÃ–CKER, Konrad",GER,Men,"team, parallel bars",M,Gold
100,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"team, parallel bars",M,Gold
101,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Gustav Felix",GER,Men,"team, parallel bars",M,Gold
102,Athens,1896,Gymnastics,Artistic G.,"HILMAR, Georg",GER,Men,"team, parallel bars",M,Gold
103,Athens,1896,Gymnastics,Artistic G.,"HOFMANN, Fritz",GER,Men,"team, parallel bars",M,Gold
104,Athens,1896,Gymnastics,Artistic G.,"MANTEUFFEL, Fritz",GER,Men,"team, parallel bars",M,Gold
105,Athens,1896,Gymnastics,Artistic G.,"NEUKIRCH, Karl",GER,Men,"team, parallel bars",M,Gold
106,Athens,1896,Gymnastics,Artistic G.,"RÃ–STEL, Richard",GER,Men,"team, parallel bars",M,Gold
107,Athens,1896,Gymnastics,Artistic G.,"SCHUFT, Gustav",GER,Men,"team, parallel bars",M,Gold
108,Athens,1896,Gymnastics,Artistic G.,"SCHUMANN, Carl",GER,Men,"team, parallel bars",M,Gold
109,Athens,1896,Gymnastics,Artistic G.,"WEINGÃ„RTNER, Hermann",GER,Men,"team, parallel bars",M,Gold
110,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",M,Silver
111,Athens,1896,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",M,Silver
96,Athens,1896,Gymnastics,Artistic G.,"KARVELAS, Phillippos",GRE,Men,"team, parallel bars",M,Bronze
112,Athens,1896,Gymnastics,Artistic G.,"PERSAKIS, Petros",GRE,Men,"team, parallel bars",M,Silver
95,Athens,1896,Gymnastics,Artistic G.,"CHRYSAPHIS, Ioannis",GRE,Men,"team, parallel bars",M,Bronze
93,Athens,1896,Gymnastics,Artistic G.,"SCHUMANN, Carl",GER,Men,"team, horizontal bar",M,Gold
78,Athens,1896,Gymnastics,Artistic G.,"PERSAKIS, Petros",GRE,Men,rings,M,Bronze
79,Athens,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,rings,M,Gold
80,Athens,1896,Gymnastics,Artistic G.,"WEINGÃ„RTNER, Hermann",GER,Men,rings,M,Silver
81,Athens,1896,Gymnastics,Artistic G.,"HOFMANN, Fritz",GER,Men,rope climbing,M,Bronze
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
83,Athens,1896,Gymnastics,Artistic G.,"XENAKIS, Thomasios",GRE,Men,rope climbing,M,Silver
84,Athens,1896,Gymnastics,Artistic G.,"BÃ–CKER, Konrad",GER,Men,"team, horizontal bar",M,Gold
85,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"team, horizontal bar",M,Gold
86,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Gustav Felix",GER,Men,"team, horizontal bar",M,Gold
87,Athens,1896,Gymnastics,Artistic G.,"HILMAR, Georg",GER,Men,"team, horizontal bar",M,Gold
...,...,...,...,...,...,...,...,...,...,...
27872,Beijing,2008,Basketball,Basketball,"MILTON-JONES, Delisha",USA,Women,basketball,W,Gold
27871,Beijing,2008,Basketball,Basketball,"LESLIE, Lisa",USA,Women,basketball,W,Gold
27870,Beijing,2008,Basketball,Basketball,"LAWSON, Kara",USA,Women,basketball,W,Gold
27869,Beijing,2008,Basketball,Basketball,"FOWLES, Sylvia",USA,Women,basketball,W,Gold
27868,Beijing,2008,Basketball,Basketball,"CATCHINGS, Tamika",USA,Women,basketball,W,Gold
27867,Beijing,2008,Basketball,Basketball,"BIRD, Sue",USA,Women,basketball,W,Gold
27866,Beijing,2008,Basketball,Basketball,"AUGUSTUS, Seimone",USA,Women,basketball,W,Gold
27865,Beijing,2008,Basketball,Basketball,"VODOPYANOVA, Natalia",RUS,Women,basketball,W,Bronze
27864,Beijing,2008,Basketball,Basketball,"STEPANOVA, Maria",RUS,Women,basketball,W,Bronze
27863,Beijing,2008,Basketball,Basketball,"SOKOLOVSKAYA, Irina",RUS,Women,basketball,W,Bronze
27862,Beijing,2008,Basketball,Basketball,"SHCHEGOLEVA, Tatiana",RUS,Women,basketball,W,Bronze
27861,Beijing,2008,Basketball,Basketball,"RAKHMATULINA, Oxana",RUS,Women,basketball,W,Bronze
27860,Beijing,2008,Basketball,Basketball,"OSIPOVA, Irina",RUS,Women,basketball,W,Bronze
27843,Beijing,2008,Basketball,Basketball,"FERNANDEZ, Rudy",ESP,Men,basketball,M,Silver
27859,Beijing,2008,Basketball,Basketball,"LISINA, Ekaterina",RUS,Women,basketball,W,Bronze
27857,Beijing,2008,Basketball,Basketball,"KORSTIN, Ilona",RUS,Women,basketball,W,Bronze
27856,Beijing,2008,Basketball,Basketball,"KARPUNINA, Marina",RUS,Women,basketball,W,Bronze
27855,Beijing,2008,Basketball,Basketball,"HAMMON, Rebekka Linn",RUS,Women,basketball,W,Bronze
27854,Beijing,2008,Basketball,Basketball,"ABROSIMOVA, Svetlana",RUS,Women,basketball,W,Bronze
27853,Beijing,2008,Basketball,Basketball,"RUBIO, Ricky",ESP,Men,basketball,M,Silver
27852,Beijing,2008,Basketball,Basketball,"RODRIGUEZ, Berni",ESP,Men,basketball,M,Silver
27851,Beijing,2008,Basketball,Basketball,"REYES, Felipe",ESP,Men,basketball,M,Silver
27850,Beijing,2008,Basketball,Basketball,"NAVARRO, Juan Carlos",ESP,Men,basketball,M,Silver
27849,Beijing,2008,Basketball,Basketball,"MUMBRU, Alex",ESP,Men,basketball,M,Silver
27848,Beijing,2008,Basketball,Basketball,"LOPEZ, Raul",ESP,Men,basketball,M,Silver
27847,Beijing,2008,Basketball,Basketball,"JIMENEZ, Carlos",ESP,Men,basketball,M,Silver
27846,Beijing,2008,Basketball,Basketball,"GASOL, Pau",ESP,Men,basketball,M,Silver
27845,Beijing,2008,Basketball,Basketball,"GASOL, Marc",ESP,Men,basketball,M,Silver
27858,Beijing,2008,Basketball,Basketball,"KUZINA, Marina",RUS,Women,basketball,W,Bronze
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [94]:
nn.sort_values('Edition',ascending=False) #ulta

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver
27859,Beijing,2008,Basketball,Basketball,"LISINA, Ekaterina",RUS,Women,basketball,W,Bronze
27846,Beijing,2008,Basketball,Basketball,"GASOL, Pau",ESP,Men,basketball,M,Silver
27847,Beijing,2008,Basketball,Basketball,"JIMENEZ, Carlos",ESP,Men,basketball,M,Silver
27848,Beijing,2008,Basketball,Basketball,"LOPEZ, Raul",ESP,Men,basketball,M,Silver
27849,Beijing,2008,Basketball,Basketball,"MUMBRU, Alex",ESP,Men,basketball,M,Silver
27850,Beijing,2008,Basketball,Basketball,"NAVARRO, Juan Carlos",ESP,Men,basketball,M,Silver
27851,Beijing,2008,Basketball,Basketball,"REYES, Felipe",ESP,Men,basketball,M,Silver
27852,Beijing,2008,Basketball,Basketball,"RODRIGUEZ, Berni",ESP,Men,basketball,M,Silver
27853,Beijing,2008,Basketball,Basketball,"RUBIO, Ricky",ESP,Men,basketball,M,Silver
27854,Beijing,2008,Basketball,Basketball,"ABROSIMOVA, Svetlana",RUS,Women,basketball,W,Bronze
27855,Beijing,2008,Basketball,Basketball,"HAMMON, Rebekka Linn",RUS,Women,basketball,W,Bronze
27856,Beijing,2008,Basketball,Basketball,"KARPUNINA, Marina",RUS,Women,basketball,W,Bronze
27857,Beijing,2008,Basketball,Basketball,"KORSTIN, Ilona",RUS,Women,basketball,W,Bronze
27858,Beijing,2008,Basketball,Basketball,"KUZINA, Marina",RUS,Women,basketball,W,Bronze
27860,Beijing,2008,Basketball,Basketball,"OSIPOVA, Irina",RUS,Women,basketball,W,Bronze
27844,Beijing,2008,Basketball,Basketball,"GARBAJOSA, Jorge",ESP,Men,basketball,M,Silver
27861,Beijing,2008,Basketball,Basketball,"RAKHMATULINA, Oxana",RUS,Women,basketball,W,Bronze
27862,Beijing,2008,Basketball,Basketball,"SHCHEGOLEVA, Tatiana",RUS,Women,basketball,W,Bronze
27863,Beijing,2008,Basketball,Basketball,"SOKOLOVSKAYA, Irina",RUS,Women,basketball,W,Bronze
27864,Beijing,2008,Basketball,Basketball,"STEPANOVA, Maria",RUS,Women,basketball,W,Bronze
27865,Beijing,2008,Basketball,Basketball,"VODOPYANOVA, Natalia",RUS,Women,basketball,W,Bronze
27866,Beijing,2008,Basketball,Basketball,"AUGUSTUS, Seimone",USA,Women,basketball,W,Gold
27867,Beijing,2008,Basketball,Basketball,"BIRD, Sue",USA,Women,basketball,W,Gold
27868,Beijing,2008,Basketball,Basketball,"CATCHINGS, Tamika",USA,Women,basketball,W,Gold
27869,Beijing,2008,Basketball,Basketball,"FOWLES, Sylvia",USA,Women,basketball,W,Gold
27870,Beijing,2008,Basketball,Basketball,"LAWSON, Kara",USA,Women,basketball,W,Gold
27871,Beijing,2008,Basketball,Basketball,"LESLIE, Lisa",USA,Women,basketball,W,Gold
27872,Beijing,2008,Basketball,Basketball,"MILTON-JONES, Delisha",USA,Women,basketball,W,Gold
27873,Beijing,2008,Basketball,Basketball,"PARKER, Candace",USA,Women,basketball,W,Gold
...,...,...,...,...,...,...,...,...,...,...
88,Athens,1896,Gymnastics,Artistic G.,"HOFMANN, Fritz",GER,Men,"team, horizontal bar",M,Gold
87,Athens,1896,Gymnastics,Artistic G.,"HILMAR, Georg",GER,Men,"team, horizontal bar",M,Gold
86,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Gustav Felix",GER,Men,"team, horizontal bar",M,Gold
85,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"team, horizontal bar",M,Gold
84,Athens,1896,Gymnastics,Artistic G.,"BÃ–CKER, Konrad",GER,Men,"team, horizontal bar",M,Gold
83,Athens,1896,Gymnastics,Artistic G.,"XENAKIS, Thomasios",GRE,Men,rope climbing,M,Silver
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
81,Athens,1896,Gymnastics,Artistic G.,"HOFMANN, Fritz",GER,Men,rope climbing,M,Bronze
80,Athens,1896,Gymnastics,Artistic G.,"WEINGÃ„RTNER, Hermann",GER,Men,rings,M,Silver
79,Athens,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,rings,M,Gold
94,Athens,1896,Gymnastics,Artistic G.,"WEINGÃ„RTNER, Hermann",GER,Men,"team, horizontal bar",M,Gold
96,Athens,1896,Gymnastics,Artistic G.,"KARVELAS, Phillippos",GRE,Men,"team, parallel bars",M,Bronze
113,Athens,1896,Gymnastics,Artistic G.,"XENAKIS, Thomasios",GRE,Men,"team, parallel bars",M,Silver
97,Athens,1896,Gymnastics,Artistic G.,"LOUNDRAS, Dimitrios",GRE,Men,"team, parallel bars",M,Bronze
112,Athens,1896,Gymnastics,Artistic G.,"PERSAKIS, Petros",GRE,Men,"team, parallel bars",M,Silver
111,Athens,1896,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",M,Silver
110,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",M,Silver
109,Athens,1896,Gymnastics,Artistic G.,"WEINGÃ„RTNER, Hermann",GER,Men,"team, parallel bars",M,Gold
108,Athens,1896,Gymnastics,Artistic G.,"SCHUMANN, Carl",GER,Men,"team, parallel bars",M,Gold
107,Athens,1896,Gymnastics,Artistic G.,"SCHUFT, Gustav",GER,Men,"team, parallel bars",M,Gold
106,Athens,1896,Gymnastics,Artistic G.,"RÃ–STEL, Richard",GER,Men,"team, parallel bars",M,Gold
105,Athens,1896,Gymnastics,Artistic G.,"NEUKIRCH, Karl",GER,Men,"team, parallel bars",M,Gold
104,Athens,1896,Gymnastics,Artistic G.,"MANTEUFFEL, Fritz",GER,Men,"team, parallel bars",M,Gold
103,Athens,1896,Gymnastics,Artistic G.,"HOFMANN, Fritz",GER,Men,"team, parallel bars",M,Gold
102,Athens,1896,Gymnastics,Artistic G.,"HILMAR, Georg",GER,Men,"team, parallel bars",M,Gold
101,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Gustav Felix",GER,Men,"team, parallel bars",M,Gold
100,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"team, parallel bars",M,Gold
99,Athens,1896,Gymnastics,Artistic G.,"BÃ–CKER, Konrad",GER,Men,"team, parallel bars",M,Gold
98,Athens,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,"team, parallel bars",M,Bronze
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold

In [96]:
nn.sort_values(['Edition','Athlete'],ascending=False) #duita onujai

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29007,Beijing,2008,Tennis,Tennis,"ZVONAREVA, Vera",RUS,Women,singles,W,Bronze
28387,Beijing,2008,Gymnastics,Rhythmic G.,"ZUEVA, Natalia",RUS,Women,group competition,W,Gold
28977,Beijing,2008,Taekwondo,Taekwondo,"ZUBCIC, Martina",CRO,Women,49 - 57 kg,W,Bronze
28819,Beijing,2008,Sailing,Sailing,"ZUBARI, Shahar",ISR,Men,RS:X - Windsurfer,M,Bronze
28095,Beijing,2008,Equestrian,Dressage,"ZU-SAYN WITTGENSTEIN, Nathalie",DEN,Women,team,X,Bronze
27900,Beijing,2008,Boxing,Boxing,"ZOU, Shiming",CHN,Men,48kg (light flywieght),M,Gold
28308,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,floor exercises,M,Gold
28314,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,horizontal bar,M,Gold
28342,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,team competition,M,Gold
29172,Beijing,2008,Wrestling,Wrestling Free.,"ZLATEVA, Stanka",BUL,Women,63 - 72kg,W,Silver
28396,Beijing,2008,Gymnastics,Rhythmic G.,"ZHUKOVA, Inna",BLR,Women,individual all-round,W,Silver
28857,Beijing,2008,Shooting,Shooting,"ZHU, Qinan",CHN,Men,10m air rifle (60 shots),M,Silver
27394,Beijing,2008,Aquatics,Swimming,"ZHU, Qianwei",CHN,Women,4x200m freestyle relay,W,Silver
28989,Beijing,2008,Taekwondo,Taekwondo,"ZHU, Guo",CHN,Men,68 - 80 kg,M,Bronze
28191,Beijing,2008,Fencing,Fencing,"ZHOVNIR, Olha",UKR,Women,sabre team,W,Gold
27341,Beijing,2008,Aquatics,Swimming,"ZHOU, Yafei",CHN,Women,4x100m medley relay,W,Bronze
28585,Beijing,2008,Hockey,Hockey,"ZHOU, Wanfeng",CHN,Women,hockey,W,Silver
29075,Beijing,2008,Volleyball,Volleyball,"ZHOU, Suhong",CHN,Women,volleyball,W,Bronze
27176,Beijing,2008,Aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
27701,Beijing,2008,Athletics,Athletics,"ZHOU, Chunxiu",CHN,Women,marathon,W,Bronze
28169,Beijing,2008,Fencing,Fencing,"ZHONG, Man",CHN,Men,sabre individual,M,Gold
28641,Beijing,2008,Judo,Judo,"ZHITKEYEV, Askhat",KAZ,Men,90 - 100kg (half-heavyweight),M,Silver
28999,Beijing,2008,Tennis,Tennis,"ZHENG, Jie",CHN,Women,doubles,W,Bronze
28584,Beijing,2008,Hockey,Hockey,"ZHAO, Yudiao",CHN,Women,hockey,W,Silver
29074,Beijing,2008,Volleyball,Volleyball,"ZHAO, Ruirui",CHN,Women,volleyball,W,Bronze
27340,Beijing,2008,Aquatics,Swimming,"ZHAO, Jing",CHN,Women,4x100m medley relay,W,Bronze
27893,Beijing,2008,Boxing,Boxing,"ZHANG, Zhilei",CHN,Men,+ 91kg (super heavyweight),M,Silver
28940,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,singles,W,Gold
28956,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,team,W,Gold
28583,Beijing,2008,Hockey,Hockey,"ZHANG, Yimeng",CHN,Women,hockey,W,Silver
...,...,...,...,...,...,...,...,...,...,...
132,Athens,1896,Tennis,Tennis,"FLACK, Edwin",ZZX,Men,doubles,M,Bronze
143,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - one hand lift,M,Gold
147,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - two hand lift,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
38,Athens,1896,Athletics,Athletics,"DAMASKOS, Evangelos",GRE,Men,pole vault,M,Bronze
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
30,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,high jump,M,Silver
32,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,long jump,M,Bronze
46,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
33,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,long jump,M,Gold
95,Athens,1896,Gymnastics,Artistic G.,"CHRYSAPHIS, Ioannis",GRE,Men,"team, parallel bars",M,Bronze
148,Athens,1896,Wrestling,Wrestling Gre-R,"CHRISTOPOULOS, Stephanos",GRE,Men,open event,M,Bronze
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
66,Athens,1896,Fencing,Fencing,"CALLOT, Henri",FRA,Men,foil individual,M,Silver
84,Athens,1896,Gymnastics,Artistic G.,"BÃ–CKER, Konrad",GER,Men,"team, horizontal bar",M,Gold
99,Athens,1896,Gymnastics,Artistic G.,"BÃ–CKER, Konrad",GER,Men,"team, parallel bars",M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
134,Athens,1896,Tennis,Tennis,"BOLAND, John",ZZX,Men,doubles,M,Gold
140,Athens,1896,Tennis,Tennis,"BOLAND, John",GBR,Men,singles,M,Gold
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
48,Athens,1896,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,individual road race,M,Bronze
111,Athens,1896,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",M,Silver
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
110,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",M,Silver
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver

### Filtering / Boolean indexing (finding all women with gold)

In [99]:
# == , != , & = and , | = or
nn.head(3)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze

In [102]:
nn[(nn.Gender=='Women')&(nn.Medal=='Gold')].head(10) #women jara medal paise ... head deay first 10 ta, na dile sob asto

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
417,Paris,1900,Golf,Golf,"ABBOTT, Margaret Ives",USA,Women,individual,W,Gold
641,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,mixed doubles,X,Gold
649,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,singles,W,Gold
710,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double columbia round (50y - 40y - 30y),W,Gold
713,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double national round (60y - 50y),W,Gold
730,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,teams FITA round,W,Gold
731,St Louis,1904,Archery,Archery,"POLLOCK, Jessie",USA,Women,teams FITA round,W,Gold
732,St Louis,1904,Archery,Archery,"TAYLOR, Louise",USA,Women,teams FITA round,W,Gold
733,St Louis,1904,Archery,Archery,"WOODRUFF, Laura",USA,Women,teams FITA round,W,Gold
1185,London,1908,Archery,Archery,"NEWALL, Sybil Fenton Quenni",GBR,Women,national round (60y - 50y),W,Gold

### String handling (Finding all Athletes having name Florence)

In [106]:
nn[nn.Athlete.str.contains('Florence')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1843,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,individual,W,Gold
1848,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,pairs,X,Bronze
4173,Paris,1924,Aquatics,Swimming,"BARKER, Florence",GBR,Women,4x100m freestyle relay,W,Silver
8162,Helsinki,1952,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Bronze
9060,Melbourne / Stockholm,1956,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Silver
10849,Tokyo,1964,Athletics,Athletics,"AMOORE-POLLOCK, Judith Florence",AUS,Women,400m,W,Bronze
16817,Los Angeles,1984,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Silver
18287,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,100m,W,Gold
18305,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Gold
18347,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x100m relay,W,Gold
18374,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x400m relay,W,Silver

### Task : In which events did 'OWENS, Jesse' win a medal?

In [109]:
nn[nn.Athlete=='OWENS, Jesse']

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

### Task : Which country has won the most men's gold medals in badminton over the years? Sort the results alphabetically by the player's  names.

In [122]:
nn[(nn.Medal=='Gold')&(nn.Sport=='Badminton')&(nn.Gender=='Men')].sort_values('Athlete')

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
25718,Athens,2004,Badminton,Badminton,"HA, Tae-Kwon",KOR,Men,doubles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
25719,Athens,2004,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,M,Gold
21773,Atlanta,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,X,Gold
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
27727,Beijing,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,doubles,X,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
20032,Barcelona,1992,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold
25720,Athens,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
23703,Sydney,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold

In [130]:
nn[(nn.Medal=='Gold')&(nn.Sport=='Badminton')&(nn.Gender=='Men')].NOC.value_counts().head(1)

INA    8
Name: NOC, dtype: int64

In [129]:
nn[(nn.Medal=='Gold')&(nn.Sport=='Badminton')&(nn.Gender=='Men')].sort_values('Athlete').NOC.value_counts().head(1)

INA    8
Name: NOC, dtype: int64

### Task : Which three countries have won the most medals in recent years (from 1984 to 2008)?

In [138]:
nn.NOC.value_counts().head(3)

USA    4335
URS    2049
GBR    1594
Name: NOC, dtype: int64

In [137]:
nn.loc[1984:2008].NOC.value_counts().head(3)

GBR    9
BEL    7
ANZ    4
Name: NOC, dtype: int64

In [139]:
nn.head(5)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [142]:
nn[(nn.Edition>=1984)&(nn.Edition<=2008)].NOC.value_counts().head(3)

USA    1837
AUS     762
GER     691
Name: NOC, dtype: int64

### Task : Display the male gold medal winners for the 100m Track event over the years. List the results starting with the most recent. Show the Olympic City, Edition, Athlete and the country they represent.

In [158]:
nn[(nn.Medal=='Gold')&(nn.Event.str.contains('100m'))&(nn.Gender=='Men')].head(5)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
231,Paris,1900,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
671,St Louis,1904,Aquatics,Swimming,"BRACK, Walter",GER,Men,100m backstroke,M,Gold

In [162]:
nn[(nn.Medal=='Gold')&(nn.Event.str.contains('100m'))&(nn.Gender=='Men')].sort_values('Edition',ascending=False).head(10)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
27606,Beijing,2008,Athletics,Athletics,"POWELL, Asafa",JAM,Men,4x100m relay,M,Gold
27321,Beijing,2008,Aquatics,Swimming,"CROCKER, Ian",USA,Men,4x100m medley relay,M,Gold
27212,Beijing,2008,Aquatics,Swimming,"PEIRSOL, Aaron",USA,Men,100m backstroke,M,Gold
27218,Beijing,2008,Aquatics,Swimming,"KITAJIMA, Kosuke",JPN,Men,100m breaststroke,M,Gold
27224,Beijing,2008,Aquatics,Swimming,"PHELPS, Michael",USA,Men,100m butterfly,M,Gold
27231,Beijing,2008,Aquatics,Swimming,"BERNARD, Alain",FRA,Men,100m freestyle,M,Gold
27287,Beijing,2008,Aquatics,Swimming,"ADRIAN, Nathan",USA,Men,4x100m freestyle relay,M,Gold
27288,Beijing,2008,Aquatics,Swimming,"GREVERS, Matt",USA,Men,4x100m freestyle relay,M,Gold
27289,Beijing,2008,Aquatics,Swimming,"JONES, Cullen",USA,Men,4x100m freestyle relay,M,Gold
27291,Beijing,2008,Aquatics,Swimming,"PHELPS, Michael",USA,Men,4x100m freestyle relay,M,Gold

In [163]:
nn[(nn.Medal=='Gold')&(nn.Event.str.contains('100m'))&(nn.Gender=='Men')].sort_values('Edition',ascending=False)[['City', 'Edition', 'Athlete','NOC']]

            City  Edition                        Athlete  NOC
27606    Beijing     2008                  POWELL, Asafa  JAM
27321    Beijing     2008                   CROCKER, Ian  USA
27212    Beijing     2008                 PEIRSOL, Aaron  USA
27218    Beijing     2008               KITAJIMA, Kosuke  JPN
27224    Beijing     2008                PHELPS, Michael  USA
27231    Beijing     2008                 BERNARD, Alain  FRA
27287    Beijing     2008                 ADRIAN, Nathan  USA
27288    Beijing     2008                  GREVERS, Matt  USA
27289    Beijing     2008                  JONES, Cullen  USA
27291    Beijing     2008                PHELPS, Michael  USA
27292    Beijing     2008            WEBER-GALE, Garrett  USA
27293    Beijing     2008          WILDMAN-TOBRINER, Ben  USA
27290    Beijing     2008                   LEZAK, Jason  USA
27322    Beijing     2008                 GANGLOFF, Mark  USA
27328    Beijing     2008            WEBER-GALE, Garrett  USA
27605    Beijing     2008                FRATER, Michael  JAM
27323    Beijing     2008                  GREVERS, Matt  USA
27603    Beijing     2008                    BOLT, Usain  JAM
27552    Beijing     2008                    BOLT, Usain  JAM
27604    Beijing     2008                  CARTER, Nesta  JAM
27327    Beijing     2008                PHELPS, Michael  USA
27326    Beijing     2008                 PEIRSOL, Aaron  USA
27325    Beijing     2008                   LEZAK, Jason  USA
27324    Beijing     2008                HANSEN, Brendan  USA
25321     Athens     2004                HANSEN, Brendan  USA
25213     Athens     2004                 PEIRSOL, Aaron  USA
25219     Athens     2004               KITAJIMA, Kosuke  JPN
25225     Athens     2004                PHELPS, Michael  USA
25231     Athens     2004     VAN DEN HOOGENBAND, Pieter  NED
25289     Athens     2004                  FERNS, Lyndon  RSA
...          ...      ...                            ...  ...
3827     Antwerp     1920                 NATVIG, Harald  NOR
2054   Stockholm     1912     MACKINTOSH, Henry Maitland  GBR
1950   Stockholm     1912               HEBNER, Harry J.  USA
1953   Stockholm     1912          KAHANAMOKU, Duke Paoa  USA
2022   Stockholm     1912                   CRAIG, Ralph  USA
2051   Stockholm     1912            APPLEGARTH, William  GBR
2053   Stockholm     1912            JACOBS, David Henry  GBR
2052   Stockholm     1912  D'ARCY, Victor Henry Augustus  GBR
2612   Stockholm     1912                 LUNDEBERG, Ake  SWE
2621   Stockholm     1912            ARVIDSSON, Per Olof  SWE
2622   Stockholm     1912                 LUNDEBERG, Ake  SWE
2623   Stockholm     1912                  SWAHN, Alfred  SWE
2624   Stockholm     1912                   SWAHN, Oscar  SWE
2615   Stockholm     1912                  SWAHN, Alfred  SWE
1733      London     1908                   SWAHN, Oscar  SWE
1141      London     1908              BIEBERSTEIN, Arno  GER
1144      London     1908               DANIELS, Charles  USA
1191      London     1908               WALKER, Reginald  RSA
1730      London     1908                 WINANS, Walter  USA
1735      London     1908                 KNÃ–PPEL, Arvid  SWE
1736      London     1908           ROSELL, Ernest Oscar  SWE
1737      London     1908                  SWAHN, Alfred  SWE
1738      London     1908                   SWAHN, Oscar  SWE
737     St Louis     1904                   HAHN, Archie  USA
674     St Louis     1904                 HALMAY, Zoltan  HUN
671     St Louis     1904                  BRACK, Walter  GER
231        Paris     1900                JARVIS, Francis  USA
13        Athens     1896                  BURKE, Thomas  USA
3         Athens     1896             MALOKINIS, Ioannis  GRE
0         Athens     1896                  HAJOS, Alfred  HUN

[349 rows x 4 columns]