In [1]:
#PYTHON DATA STRUCTURE
#SET:

mySet = set()

dir(mySet)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [17]:
print(dir(mySet))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [2]:

#add
help(mySet.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [3]:

#add

mySet.add(5)
mySet.add('Five')
mySet.add(True)
mySet.add(5.55)
mySet.add(5 + 5.5j)
len(mySet)

5

In [5]:
#set dont maintain order, so ja issa tai dekhabe
mySet

{(5+5.5j), 5, 5.55, 'Five', True}

In [6]:
mySet

{(5+5.5j), 5, 5.55, 'Five', True}

In [7]:
#set dont put duplicate elements, dont save duplicate
set([1,1,1,1,13,3,3,3,3,4,4,4,4,4,4,444,555,555,555,555,6,7,8,8,8,8,9,55])

{1, 3, 4, 6, 7, 8, 9, 13, 55, 444, 555}

In [8]:
print(mySet)
mySet.add(5)
print(mySet)

{True, 5, 5.55, (5+5.5j), 'Five'}
{True, 5, 5.55, (5+5.5j), 'Five'}

In [9]:
#remove discard
help(mySet.remove)
help(mySet.discard)

Help on built-in function remove:

remove(...) method of builtins.set instance
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

Help on built-in function discard:

discard(...) method of builtins.set instance
    Remove an element from a set if it is a member.

    If the element is not a member, do nothing.

In [10]:
mySet.remove('Five')
print(mySet)

{True, 5, 5.55, (5+5.5j)}

In [11]:

#give error when key can not be removed

mySet.remove('Five')

KeyError: 'Five'

In [12]:
mySet.discard(5)
print(mySet)

{True, 5.55, (5+5.5j)}

In [13]:
#DONT give error when key can not be removed
mySet.discard(5)

In [14]:
def dis(myst, elem):
    try:
        myst.remove(elem)
    except KeyError:
        pass

In [15]:
dis(mySet,True)
print(mySet)

{5.55, (5+5.5j)}

In [16]:
dis(mySet,True)
print(mySet)
dis(mySet,True)
print(mySet)
dis(mySet,True)
print(mySet)
dis(mySet,True)
print(mySet)

{5.55, (5+5.5j)}
{5.55, (5+5.5j)}
{5.55, (5+5.5j)}
{5.55, (5+5.5j)}

In [18]:
#Faster Way to make set
mySet2 = set([1,2.3,False,'Two'])
len(mySet2)

4

In [19]:
mySet2.clear()
len(mySet2)

0

In [20]:
#Intergers in 1-10
oddSeries 		= set([1,3,5,7,9])
evenSeries 		= set([2,4,6,8,10])
primeSeries 	= set([2,3,5,7])
compositeSeries = set([4,6,8,9,10])

In [21]:
oddSeries.union(evenSeries)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
oddSeries.intersection(primeSeries)

{3, 5, 7}

In [23]:
primeSeries.union(compositeSeries)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
print(primeSeries.intersection(compositeSeries))

set()

In [25]:
primeSeries.intersection(compositeSeries)

set()

In [26]:
primeSeries.difference(compositeSeries)

{2, 3, 5, 7}

In [27]:
primeSeries.symmetric_difference(compositeSeries)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [28]:
6 in oddSeries

False

In [29]:
6 in evenSeries

True

In [30]:
s1 = set([1,2,3,4,5,6,7,8,9])
s2 = set([1,2,7,9,5])
s1.intersection(s2)

{1, 2, 5, 7, 9}

In [36]:
s1 = {1,2,3,4,5,6,7,8,9}
s2 = {1,2,9,5}
s1.intersection(s2)

{1, 2, 5, 9}

In [50]:
s1 = {1,2,3,4,5,6,7,8,9}
s2 = {1,2,9,5,7}
if(7 in (s1.intersection(s2)) and 6 in (s1.intersection(s2))):
    print(s1.intersection(s2))
    print(s1.union(s2))
elif (6 in s1 and 6 in s2):
    print(s1.union(s2))
elif(7 in s1 and 7 in s2):
    print(s1.intersection(s2)) 
else:
    print(s1.difference(s2))

{1, 2, 5, 7, 9}

In [52]:
if(7 in s1 and 6 in s1 and 7 in s2 and 6 in s2):
    print(s1.intersection(s2))
    print(s1.union(s2))
elif (6 in s1 and 6 in s2):
    print(s1.union(s2))
elif(7 in s1 and 7 in s2):
    print(s1.intersection(s2)) 
else:
    print(s1.difference(s2))

{1, 2, 5, 7, 9}

In [ ]:
#set
# no sort
# no order
# no duplicate
# various type variables
##############################
#list
# can sort
# can order
# can duplicate
# various type variables

In [53]:
#Lists :
myList = ['aam','jaam','kathal','komola','narikel']
len(myList)
dir(myList)
help(myList.append)
myList.append('lichu')

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

In [54]:
myList

['aam', 'jaam', 'kathal', 'komola', 'narikel', 'lichu']

In [55]:
myList[3]

'komola'

In [56]:
#0 based index
myList[len(myList)]

IndexError: list index out of range

In [57]:
myList[len(myList)-1]

'lichu'

In [58]:
#direct last index
myList[-1]

'lichu'

In [59]:
myList[-3]

'komola'

In [60]:
#Slicing 
print(myList[2:5]) #5 no er agerta asbe
print(myList[-4:-1]) #-1 er agerta

['kathal', 'komola', 'narikel']
['kathal', 'komola', 'narikel']

In [61]:
print(myList[2:len(myList)])

['kathal', 'komola', 'narikel', 'lichu']

In [62]:
print(myList[2:-1])

['kathal', 'komola', 'narikel']

In [66]:
print(myList[-2:6]) #left to right

['narikel', 'lichu']

In [67]:
myList2 = [1, 2, 3, 4, 5, 1, 2] #A set can store duplicate values.
print( myList2)


#concatintion
print(myList + myList2)

[1, 2, 3, 4, 5, 1, 2]
['aam', 'jaam', 'kathal', 'komola', 'narikel', 'lichu', 1, 2, 3, 4, 5, 1, 2]

In [68]:
myList #sudhu laste jog korsilo

['aam', 'jaam', 'kathal', 'komola', 'narikel', 'lichu']

In [69]:
myList.extend(myList2) #value changed

In [70]:
myList #value changed

['aam', 'jaam', 'kathal', 'komola', 'narikel', 'lichu', 1, 2, 3, 4, 5, 1, 2]

In [72]:
myList2.count(2) #frequency of 2

2

In [73]:
myList2.count(1)  #frequency of 1

2

In [74]:
print(help(myList2.index))

Help on built-in function index:

index(...) method of builtins.list instance
    L.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.

None

In [76]:
myList2.index(2)

1

In [84]:
myList2.sort()

In [85]:
myList2

[1, 1, 2, 2, 3, 4, 5]

In [90]:
myList2.index(2,3,6)

3

In [91]:
myList2.index(2,0,6)

2

In [92]:
myList2.index(2)

2

In [94]:
l1=[1,2,3,5,6,8,8,90]
# loops

mL = [1,2,3,4,5]

for m in mL:
    if m == 3:
        print("found")
#         break
        continue
    print (m)

1
2
found
4
5

In [95]:
for m in mL:
    print (m)

1
2
3
4
5

In [96]:
for m in mL:
    print (m*m)

1
4
9
16
25

In [97]:
for m in mL:
    print (m**2)

1
4
9
16
25

In [98]:
for m in mL:
    print (m**3)

1
8
27
64
125

In [99]:
range(5)

range(0, 5)

In [100]:
range(2,5)

range(2, 5)

In [101]:
for m in range(5):
    print (m)

0
1
2
3
4

In [102]:
for m in range(1,5):
    print (m)

1
2
3
4

In [103]:
 print (range(1,5))

range(1, 5)

In [104]:
 print (list(range(1,5)))

[1, 2, 3, 4]

In [105]:
print (list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
print (list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [107]:
for m in range(1,10,2):
    print (m)

1
3
5
7
9

In [109]:
for i in range(1,5,1):
    print (mL[i]**2)

4
9
16
25

In [110]:
for i in range(1,5,2):
    print (mL[i]**2)

4
16

In [119]:
mt = ['Amm', 'Jaam', 'Kathal', 'lichu', 'Kola']

for i in range(0,len(mt),2):
    print(i, mt[i], end='\t')

0 Amm	2 Kathal	4 Kola

In [123]:
print (list(range(1,101,1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [124]:
a=list(range(1,101,1))

In [125]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]